<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <a href="/log_reg/logout">Logout</a>
    <div class=“container”>
     <h1>Hello, {{loggeduser.username}}!</h1>
     <h3>Your Wish List:</h3>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Added by</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            
            <tr>{% for i in myitems %}
                <td>
                   <a href="/log_reg/{{i.id}}">{{i.itemname}}</a>
                </td>
                <td>{{i.added_by.username}}</td>
                <td>{{i.created_at}}</td>
                <td><a href="/log_reg/remove/{{i.id}}">Remove from my Wishlist</a></td>
            </tr>{% endfor %}
            <tr>{% for i in myallitem %}
                <td>
                    <a href="/log_reg/{{i.id}}">{{i.itemname}}</a>
                </td>
                <td>{{i.added_by.username}}</td>
                <td>{{i.created_at}}</td>
                <td>
                    <a href="/log_reg/delete/{{i.id}}">Delete</a>
                </td>
            </tr>{% endfor %}
        </table> 




        <h3>Other Users' Wish List:</h3>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Added by</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        
            <tr>{% for i in notmyitem %}
                <td>
                    <a href="/log_reg/{{i.id}}">{{i.itemname}}</a>
                </td>
                <td>{{i.added_by.username}}</td>
                <td>{{i.created_at}}</td>
                <td><a href="/log_reg/add/{{i.id}}">Add to my Wishlist</a></td>
            </tr>{% endfor %}
        </table>
       
    
    </div><a href="/log_reg/additem">Add Item</a>
</body>

</html>